*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

@font-face {
    font-family: Girloy;
    src: url(../Gilroy/stylesheet.css);
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    background-color: #fffcf6;
    overflow-x:hidden;
}

ul {
    list-style: none;    
}

.container {
    width:  1440px;    
    margin-left: auto;
    margin-right: auto;
}

/* PRELUDE */

.prelude {
    background-image: url("../img/prelude-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh; 
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;  
}

.header__menu-icon {
    width: 28px;
    height: 22px;
    padding: 3px 0;
}

.header__menu-icon span {
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 4px;
}

.header h1 {
    display: inline;
    font-weight: 700;
    font-style: normal;    
    color: white;    
}

.header__logo {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

.header__logo i {
    font-style: italic;
}

.open-modal {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.prelude-content__title {
    font-size: 80px;
    line-height: 1.1;
    font-weight: 700;
    padding: 40px 0 24px;
    max-width: 704px;
}

.prelude-content__subtitle {
    font-size: 34px;
    font-family: 'Girloy', sans-serif;
    font-weight: 100;
    font-style: normal;
    max-width: 459px;
}

.prelude-holder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slider-controls {
    position: absolute;
    bottom: 40px;
}

.slider-controls__next {
    transform: rotate(180deg);
    margin-left: 20px;
}

.slider-tracks {
    display: flex;
}

.slider-tracks__item {
    width: 32px;
    height: 4px;
    opacity: 0.5;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}

.slider-tracks__item:not(:last-child) {
    margin-right: 8px;
}

.slider-tracks__item--active {
    opacity: 1;
}

/* IMAGENS */

.quality-cake,
.quality-coffee {
    margin-top: 120px;
}

.quality-magic,
.quality-cake {
    display: flex;
    justify-content: space-between;
}

.image-quality {    
    width: 704px;
    height: 560px;
}

.text-description {
    width: 560px;
    height: 160px;    
}

.text-description__title {
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
}

.text-description__subtitle {
    font-family: 'Girloy', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-top: 32px;
    line-height: 1.5;
}

/* PRODUTOS */

.products {
    margin-top: 180px;
}

.box-products {
    margin-top: 45px;
    width: 450px;
    height: 560px;
    background-color: #F7F1E6;    
}

.box_one,
.second_line {
    display: flex;
    justify-content: space-between;
}

.store-title {
    font-weight: 700;
    color: #A0996C;
    font-size: 56px;
}

.valeu-products__full,
.valeu-products__sale,
.title-products {
    font-family: 'Girloy', sans-serif;
}

.title-products {
    font-size: 28px;
    position: relative;
    top: 40px;
    left: 65px;    
}

.products img {
    width: 172px;
    height: 216px;
    position: relative;
    left: 143px;
    top: 90px;
}

.valeu-products {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    top: 100px;    
}

.valeu-products__sale {
    font-weight: 700;
    font-size: 32px;
}

.valeu-products__full {
    font-size: 24px;
    color: #969696;
    margin-left: 5px;      
}

.btn-products__item {
    width: 395px;
    height: 76px;
    background-color: #0b1d03;
    border-color: transparent;
    border-radius: 4px;
    font-family: 'Girloy', sans-serif;
    font-weight: bolder;    
    font-size: 20px;
    color: white;
    cursor: pointer;     
}

.btn-products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

/* ICONES */

.icon{
    margin-top: 200px;      
}

.icons-service {
    display: flex;
    justify-content: space-between;
}

.icon li {    
    width: 262px;    
    display: inline-block;
    font-family: 'Girloy', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;      
}

.icon p {
    padding-top: 24px;    
}

/* CATÁLOGO */

.itens-catalog {
    display: flex;    
    justify-content: space-between;
    margin: 68px 0 160px 0;
}

.catalog {
    background-image: url("../img/catalog.png");
}

.coffe-machine {
    background-image: url("../img/coffe-machine.png");
}

.catalog,
.coffe-machine {     
    width: 704px;
    height: 560px;    
}

.catalog__text {
    margin: 388px 0 0 40px;
}

.title-catalog {
    color: white;
    font-size: 56px;
    font-family: 'playfair display';
}

.sub-title-catalog {
    color: white;
    font-size: 20px;
    font-family: 'Girloy', sans-serif;
    margin-top: 24px;
    line-height: 30px;
}

/* FORMULÁRIO */

.address--white {
    background-color: #fff;
    width: 100vmax;
    
}

.address__title {
    padding-top: 40px;
}

.address__form__maps {
    width: 1440px;
    height: auto;    
}

.address h3 {
    font-size: 56px;
    font-family: 'Girloy', sans-serif;
    margin-bottom: 20px;
}

.address__form {
    border: solid 2px #000;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 20px;
    color: #969696;
    padding: 20px;
}

.address__form--city {
    background-color: white;
    width: 459px;
    height: 76px;
}

.address__form--search {
    width: 949px;
    height: 76px;    
}

.address__form--search--icon {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 900px; 
}

.address__form__maps {
    padding: 24px 0 48px 0;
}

.address__position {
    display: flex;
    justify-content: space-between;
}

/* RODAPÉ */

footer{
    width: 1900px;
    height: 306px;
    background-color: #F7F1E6;        
}

.footer_position {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;    
    font-family: 'Girloy', sans-serif;    
    font-size: 20px;
}

.header__logo--footer {
    font-size: 28px;
    font-weight: bold;   
}

.footer__list__item--title {
    text-transform: uppercase;
    display: inline;
    font-weight: 500;
}

.footer__list__item {    
    padding: 20px 0 0 0;    
}

.footer__list__item--link {
    padding-top: 18px;
    text-decoration: none;
    color: black;
}

.footer__company,
.footer__products,
.footer__networks {    
    width: 336px;    
}

 .footer__networks__title {
    padding-bottom: 20px;
}

.footer__networks__icons {
    width: 138px;
    display: flex;
    justify-content: space-between;
}

.footer__networks__item {
    display: inline;
    list-style-type: none;
    padding-right: 20px;    
}

.footer__list__items--networks {
    margin-top: 18px;
}

/* RODAPÉ MENTORAMA */

.baseboard {
    background-color: #F7F1E6;
    width: 1900px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseboard__text {
    font-family: 'Girloy', sans-serif;    
    font-size: 20px;
}

.mentorama__title b{
    font-weight: 700;    
}

/* MODAL */

.modal {
    left: unset;
}

.form__purchase {
    display: flex;
    background: transparent;
    border: 0px;        
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

.product-bag {
    width: 499px;
    height: 316px;
    background-color: #fff;
    border-right: 2px solid #c4c4c4;        
}

.description-bag {
    font-family: 'Girloy', sans-serif;
    font-size: 32px;
    font-weight: 900;
    margin: 48px 0 0 48px;
}

.product-bag-items {
    display: flex;
    width: 403px;
    height: 164px;
    border-radius: 4px;
    margin: 24px auto 48px auto;
    background-color: #f2f2f2;
}

.product-bag-item__img {
    width: 92px;
    height: auto;
    margin: 24px 0 25px 24px;
}

.product-description {
    margin: auto 0 auto 16px;    
}

.product-bag-item__title,
.product-bag-item__value {
    font-family: 'Girloy', sans-serif;
    text-transform: uppercase;
}

.product-bag-item__title {
    font-size: 20px;
}
.product-bag-item__value {
    font-size: 32px;
    font-weight: 700;
    margin-top: 8px;
}

.btn-product-bag__description {
    appearance: none;
    border: 0px;
    cursor: pointer;
    color: #A0996C;
    background-color: #f2f2f2;    
    font-size: 20px;
    margin-top: 16px;
}

/* -formulário */

.nav-user {
    width: 784px;
    max-height: 900px;
    height: 100%;
    background-color: #fff;    
}

.nav-user__prelude {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;    
}

.nav-flow {
    margin: 48px 0 0 49px;
}

.nav-flow__item, 
.nav-flow__img {
    margin: 0 8px 0 8px;
}

.nav-flow__item--active {
    font-weight: 600;
}

.close-bag {    
    width: 18px;
    height: 18px;  
    margin: 37px 37px 0 0;
    cursor: pointer;
}

.nav-flow__item {
    font-family: 'Girloy', sans-serif;
    font-size: 20px;
}

.nav-flow__item:nth-child(n+2) {
    color: #969696;
}

/* -dados pessoais */

.form-personal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    margin: 14px 80px 48px 48px;
}

.form-personal__item,
.form-personal__item__btn {
    width: 656px;
    height: 76px;
    margin: 12px 0;    
}

.form-personal__item__btn {
    padding-bottom: 12px;
}

.form-personal__item__msg,
.form-personal__item {    
    border: 2px solid #0B1D03;
    border-radius: 4px;
    font-size: 20px;
    color: #969696;
    padding-left: 28px;
}

.form-personal__item__msg {    
    height: 238px;
    font-family: 'Girloy', sans-serif;
    font-size: 22px;
    padding-top: 24px;
    margin-top: 12px;
}

.form-personal__item__btn {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    appearance: none;
    background-color: #0B1D03;
    border-radius: 4px;
    margin-top: 32px;
}